@model PSIMS.Models.InventoryModel.StockMovementDetals

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StockMovementDetals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromLocation.LocationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromLocation.LocationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.BatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToLocation.LocationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToLocation.LocationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferdBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferdOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferdOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
