@model IEnumerable<PSIMS.Models.Finance.Bank>
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@{
    ViewBag.Title = "List of Bank Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

<div class="box box-body box-primary">

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn bg-olive btn-flat" })
    </p>
    <table class="table table-striped" id="dtaTable">
        <thead class="dataTableHead">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
                <th>
                    Create By
                </th>
                <th>Action</th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @{var name = db.Users.Where(u => u.Id == item.UserID).FirstOrDefault().UserName ?? "n/a";}
                        @name
                        @*@Html.DisplayFor(modelItem => item.UserID)*@
                    </td>
                    <td>
                        <div class="dropdown">
                            <button style="background-color:#e74c3c; color:white; padding:2px 5px" class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) </li>
                                <li>@Html.ActionLink("View", "Details", new { id = item.ID }) </li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                            </ul>
                        </div>

                    </td>
                </tr>
            }

    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dtaTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>