@model IEnumerable<PSIMS.Models.PurchaseModel.Supplier>

@{
    ViewBag.Title = "List of Suppliers";
}

<div class="box box-body box-primary">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn bg-olive btn-flat" })
        @Html.ActionLink("Export to CSV", "ExportToCSV", "ExportExcel", new { @class = "btn btn-primary btn bg-purple btn-flat" })
       
    </p>
    @*<table class="table table-striped" id="dtaTable">*@
        <table class="table table-hover dataTable  table-striped table-responsive" id="dtaTable">
            <thead class="dataTableHead">
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        Company Name
                    </th>

                    <th>
                        Supplier Name
                    </th>
                    <th>
                        Reg.No
                    </th>

                    <th>
                        Tel.No
                    </th>
                    <th>
                       Mob.No
                    </th>
                    <th>
                        Fax.No
                    </th>

                    <th>
                        Country
                    </th>
                    <th>
                        Status
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => item.ID)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Companyname).ToString().ToUpper()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName).ToString().ToUpper()
                    </td>
                    <th>
                        @Html.DisplayFor(model => item.Registation_No).ToString().ToUpper()
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelPhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FaxNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.country.CountryName)
                    </td>
                    <td>
                        @{
                        if (item.status==0)
                        {
                            <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Active</a>
                        }
                        else
                        {
                            <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>InActive</a>
                        }
                                }
                    </td>
                    
                    <td>

                        <div class="dropdown">
                            <button style="background-color:#e74c3c; color:white; padding:2px 5px" class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                                <li>@Html.ActionLink("View", "Details", new { id = item.ID })</li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                                @*<li>@Html.ActionLink("Export to CSV", "ExportToCSV", "ExportExcel", new { @class = "btnexport" })</li>*@

                            </ul>
                        </div>

                    </td>

                   
                </tr>
            }

        </table>


</div>

<script>
    $(document).ready(function () {
        $('#dtaTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>