@model IEnumerable<PSIMS.Models.SalesModel.InvoiceOptionEntry>

@{
    ViewBag.Title = "List of Invoice Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-body box-primary">

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn bg-olive btn-flat" })
    </p>
    <table class="table table-striped table-responsive" id="dtaTable">
        <thead class="dataTableHead">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Type Of Invoice
                </th>
                <th>Actions</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvOptID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceName)
                    </td>
                    @*<td>
                        <a href="@Url.Action("Edit", new { id = item.InvOptID })">
                            <i class="fa fa-edit" style="color:#FF0000;"></i>
                        </a> |
                        <a href="@Url.Action("Details", new { id = item.InvOptID })">
                            <i class="fa fa-eye" style="color:#FF0000;"></i> |
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.InvOptID })">
                            <i class="fa fa-trash" style="color:#FF0000;"></i>
                        </a>
                    </td>*@
                    <td>

                    <div class="dropdown">
                            <button style="background-color:#e74c3c; color:white; padding:2px 5px" class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                               
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.InvOptID }) </li>
                                <li>@Html.ActionLink("View", "Details", new { id = item.InvOptID }) </li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.InvOptID })</li>
                            

                            </ul>
                        </div>

                    </td>
                </tr>
            }
           
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#dtaTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>